<div class="bannerContainer">
  <%= image_tag 'switch-bakery-gluten-free-bread.png', width: 100, alt: "Gluten Free Bread Delivery Fox on a Bike" %>
  <h1><%= title %></h1>
  <span class="subtitleStyle"><%= subtitle %></span>
</div>