<div class="categoryHero">
  <%= link_to image_tag(@all.image), products_path(@all) %>
</div>
<section id="gallery">
  <div class="categoryGrid">
    <% for category in @categories %>
      <div class="gridItem">
        <h5 class="categoryName"><%= category.name %></h5>
        <%= link_to image_tag(cdn_image_url(category.image)), products_path(category: category.name) %>
      </div>
    <% end %>
  </div>
</section>