<section id="hero">
  <div class="hero-content" style="">
    <h2 class="title">Welcome to Bread Club</h2>
    <span class="subtitle}>Coming Soon. Sign up to find out more.</span>
    <form
      class="newsLetterForm"
      onSubmit=""
    >
      <input
          id="newsLetterInput"
          type="email"
          value="email"
          placeholder="email"
          className="input"
        />
    </form>
  </div>
</section>