<section id="hero">
  <%= image_tag 'switch-bakery-gluten-free-bread.png', alt: "Gluten Free Bread Club Fox on Bike" %>
  <div class="hero-content" style="">
    <h2 class="title">Welcome to Bread Club</h2>
  </div>
</section>