 <section id="quote">
  <div class="quote-content">
    <p><%= Product.find_by_slug("gluten-free-bread-club").description %></p>
  </div> 
  <%= link_to "Sign up for Bread Club", product_path('gluten-free-bread-club'), class: "ctaButton button primary" %>
</section>
