 <section id="quote">
  <div class="quote-content">
    <p><%= Product.find_by_slug("bread-club").description %></p>
    <%= link_to "Sign up for Bread Club", bread_club_path, class: "ctaButton button primary" %>
  </div> 
</section>
