<%= render "/main/banner", image: nil, title: "your bag", subtitle: nil %>
<section id="cart">
  <div class="cartContainer">
    <p>Your order was successful! Check your email for your receipt.</p>
  </div>
</section>
