<section id="page">
  <div class="bannerContainer" >
    <h1><%= @page.title %></h1>
  </div>
  <div class="container">
    <div class="pageContainer">
      <div class="content">
        <%= @page.content %>
      </div>
    </div>
  </div>
</div>