<%= render "/main/banner", image: nil, title: @page.title, subtitle: @page.description %>
<section id="page">
  <div class="container">
    <div class="pageContainer">
      <div class="detailContent">
        <%= @page.content %>
      </div>
    </div>
  </div>
</div>