@import 'variables'

#cart
  turbo-frame
    width: 70%
  .cartContainer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-left: 8px 
    margin-right: 8px
  .orderContainer
    overflow: hidden
    font-family: $brand-font
    .checkout
      float: right
      text-align: right
      width: 100%
      margin-bottom: 2rem
    .orderContent
      .message
        clear: both
        width: 80%
        margin: 40px auto
        font-size: 1.2em
      .total
        font-size: 1.5em
      .orderDetail
        float: right
        display: inline
  .items
    padding: 0 1.5rem
  .inline
    display: inline-block
  .imageContainer
    z-index: 100
    width: 75px
    height: 75px
    overflow: hidden
    border: 3px double $grey-crumb
    img  
      position: relative
      height: auto
      min-width: 100%
      top: 50%
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      transform: translateY(-50%)
  select
    width: 20%
  .priceContainer
    border: 1px solid $standard-grey
    font-family: $brand-font
    letter-spacing: 0.01em
    display: flex 
    grid-template-columns: repeat(4, 1fr)
    gap: 20px
    padding: 10px
    align-items: center
    justify-content: space-around
    .variation
      font-weight: 600
      font-size: 1.2em
    .price
      justify-self: end
      font-weight: 600
      font-size: 1.2em
    .quantity, .quantity input
      width: 30px
    .close 
      justify-self: end
      padding-right: 30px
      input[type="submit"]
        border-radius: 20px
        border: none
        background: $standard-gold
        color: $standard-white
        cursor: pointer
  .addOnContainer
    display: flex
    flex-wrap: wrap
  .addOnContainer>*
      flex: 1 1 45%
      margin-right: 5px   
  .details
    display: flex !important
    justify-content: space-evenly
    align-items: center
    border: 1px solid $standard-grey
    font-family: $brand-font
    letter-spacing: 0.01em
    margin-top: 5px
    form
      display: flex
      justify-content: space-evenly
      align-items: center
      width: 100%
  .box-summary-table,.box-summary-table th, .box-summary-table td 
    width: 100%
    border-spacing: 0
    border: 1px solid $standard-grey
    padding: 0.75em 1em
  

  // .box-summary-table th, .box-summary-table td 
  //   border-bottom: 1px solid $standard-grey
  //   border-right: 1px solid $standard-grey

  .box-summary-table tr td:last-child
    border: none

  // .box-summary-table th 
  //   font-weight: bold
  

  // .box-summary-table tbody tr 
  //   &:last-child
  //     border: none

  // .box-summary-table thead tr, .box-summary-table tfoot tr
  //   border-bottom: none

  // .box-summary-table tfoot th, .box-summary-table tfoot td
  //   font-weight: bold
  //   border-top: 1px solid $standard-grey


@media (hover: hover) 
  #cart .priceContainer .close
    input:hover[type="submit"]
      background: $standard-dark-grey
      color.black
@media (max-width: 767px) 
  #cart turbo-frame
    width: 90%
  #cart .orderContainer .checkout
    text-align: center