@import 'variables'

#gallery 
  display: flex
  flex-flow: row wrap
  .gallery-grid, .categoryGrid
    align-self: start

    .cardGrid 
      display: grid
      grid-template-columns: repeat(4, 1fr)
      gap: 2px

    

    .imageContainer 
      width: 100%
      line-height: normal


    .imageContainer img 
      width: 100%
      object-fit: cover


    .mobileSlider 
      display: none

.categoryGrid 
  display: flex
  flex-flow: row nowrap
  flex: 1
  padding: 1.4em 0
  min-width: 0
  height: 60vh
  overflow: hidden
  align-items: center
.gridItem
  display: flex
  flex-flow: column nowrap
  align-items: center
  flex: 1
  min-width: 0
  max-width: 20%
  overflow: hidden
  img
    width: auto
.categoryGrid :nth-child(1)
  order: 3
.categoryGrid :nth-child(2)
  order: 1
.categoryGrid :nth-child(3)
  order: 2
.categoryGrid :nth-child(4)
  order: 4
.categoryGrid :nth-child(5)
  order: 5
@media (max-width: 1000px) 
  #gallery
    .gallery-grid
      margin-right: 16px
      .cardGrid 
          grid-template-columns: repeat(3, 1fr)
      
@media (max-width: 800px) 
  #gallery .gallery-grid .cardGrid 
    grid-template-columns: repeat(1, 1fr)
  

  .mobileSlider 
    display: block
    margin-bottom: 32px
  

  #gallery 
    margin-left: -3.5%
    margin-right: -2.5%
  

  .gallery-grid    
    position: static
    margin-right: 0px
  

