@import 'variables'

#gallery 
  display: flex
  flex-flow: row wrap
  margin-top: 2px
  .gallery-grid, .categoryGrid
    align-self: start

    .cardGrid, .postGrid
      display: grid
      grid-template-columns: repeat(4, 1fr)
      gap: 2px
      a:hover
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    .postGrid .imageContainer
      position: relative
      min-height: 350px
      min-width: 350px
      img
        z-index: 1
        border-radius: 1px
        position: absolute
        height: 100% 
        width: 100%
        object-fit: cover 
        top: 50%
        transform: translateY(-50%)
        mask-image: linear-gradient(to top, transparent 0%, black 50%)
      &:after
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, transparent 65%, $standard-white 100%);
      .shadowTitle
        position: absolute
        bottom: 0
        left: 0
        z-index: 20
        padding: 20px
        color: $standard-white
        text-shadow: 1px 1px 5px $standard-dark-grey
    .imageContainer 
      width: 100%
      line-height: normal


    .imageContainer img 
      width: 100%
      object-fit: cover


    .mobileSlider 
      display: none
.categoryHero
  height: 225px
  overflow: hidden
  img
    width: 100%
.categoryGrid 
  display: flex
  flex-flow: row nowrap
  flex: 1
  padding: 1.4em 0
  min-width: 0
  height: 60vh
  overflow: hidden
  align-items: center
.gridItem
  display: flex
  flex-flow: column nowrap
  align-items: center
  flex: 1
  min-width: 0
  max-width: 25%
  overflow: hidden
  img
    width: auto
  .categoryName
    font-weight: 100
    font-family: $brand-font
    font-size: 20px
.categoryGrid :nth-child(1)
  order: 3
  height: 100%
.categoryGrid :nth-child(2)
  order: 1
.categoryGrid :nth-child(3)
  order: 2
.categoryGrid :nth-child(4)
  order: 4
.categoryGrid :nth-child(5)
  order: 5
@media (max-width: 1000px) 
  #gallery
    .gallery-grid
      // margin-right: 16px
      width: 97%
      .cardGrid, .postgrid
          grid-template-columns: repeat(3, 1fr)
      .postGrid
        width: 80%
        margin: 0 auto
    .categoryGrid
      flex-flow: column
      height: unset
      width: 100%
      .gridItem
        max-width: 100%;
        overflow: hidden
        border-bottom: 3px double $grey-crumb
        margin: 1.4em 0
        width: 90%
        flex-direction: row
        justify-content: center
        h5
          order: 1
@media (max-width: 800px) 
  #gallery .gallery-grid .cardGrid, #gallery .gallery-grid .postGrid
    grid-template-columns: repeat(1, 1fr)
  
  .postGrid
    width: 80%
    margin: 0 auto
  .mobileSlider 
    display: block
    margin-bottom: 32px
  

  #gallery 
    margin-left: -3.5%
    margin-right: -2.5%
  

  .gallery-grid    
    position: static
    margin-right: 0px
  

