@import 'variables'

#quote, #pageContent 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  // background-color: $standard-light-grey
  .pageContent
    width: 75%
    h1
     font-family: $brand-font
     font-size: 1.5em
    .trix-content
      figure
        img
          padding: 0
          margin: 1rem
  .quoteContent
    display: flex
    flex-direction: row
    flex-wrap: wrap
    div
      flex: 1
      justify-content: center
      padding: 20px
  hr
    ::before
      background-image: image-url("trix_horizontal_rule.svg")

  span 
    font-weight: 500
    font-size: 14px
    line-height: 17px
    text-transform: uppercase
    display: block
    margin-bottom: 40px
    text-align: center
  p 
    font-family: $standard-header
    font-weight: normal
    font-size: 42px
    line-height: 52px
    text-align: center
    max-width: 720px


@media (max-width: 600px) 
  #quote 
    p 
      font-size: 22px
      line-height: 32px
    .quoteContent div
      width: 100%
      flex: initial
    
