<div
    role='presentation'
    onMouseLeave={() => setShowMenu(false)}
    onMouseEnter={() => setShowMenu(true)}
    class={`$.menuContainer} ${
      showMenu === true ? styles.show : ''
    }`}
  >
    <container size='large' spacing='min'>
      <ExpandedMenu menu={menu} />
    </container>
  </div>

  <drawer visible={showMiniCart} close={() => setShowMiniCart(false)}>
    <MiniCart />
  </drawer>

  <div class="mobileMenuContainer">
    <drawer
      hideCross
      top={'98px'}
      isReverse
      visible={mobileMenu}
      close={() => setMobileMenu(false)}
    >
      <MobileNavigation close={() => setMobileMenu(false)} />
    </drawer>
  </div>